.aside {
	position: fixed;
	top: 0;
	height: 100%;
	overflow-y: auto;
	@include respond-to('xs') {
		width: 280px;
		// right: -200px;
		right: 0;
		padding: 20px;
		transform: translateX(0);
		transition: transform $slow-transition;
		&.menu-is-visible {
			transform: translateX(-100%);
		}
		&-language-bar-smp,
		&-logo { display: none; }
		&-social-icons {
			float: right;
			font-size: 20px;
			margin-top: 15px;
			.social-icon { margin-left: 15px; }
		}
	}
	@include respond-to('sm-p') {
		width: 200px;
		left: 2*$c;
		&-language-bar-smp {
			height: 35px;
			line-height: 35px;
			border-bottom: 5px solid;
			font-size: $sm-fz;
		}
		&-language-bar-link {
			&.selected { font-weight: 700; }
		}
		&-logo {
			padding-top: $c;
			padding-bottom: $c;
			text-align: center;
		}
	}
}