.aside {
	position: fixed;
	top: 0;
	width: 200px;
	height: 100%;
	overflow-y: auto;
	@include respond-to('xs') {
		right: -200px;
		transform: translateX(0);
		transition: transform $slow-transition;
		&.menu-is-visible {
			transform: translateX(-100%);
		}
	}
	@include respond-to('sm-p') {
		left: 2*$c;
	}
}