.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	@include respond-to('xs') {
		&-social-icons {
			float: right;
		}
		.copyrights {
			float: left;
			margin-bottom: $c;
		}
	}
	@include respond-to('sm-p') {
		text-align: center;
		&-social-icons { display: none; }
	}
}