.top-header {
	position: fixed;
	top: 0;
	z-index: 1000;
	background-color: $white;
	font-size: $sm-fz;
	@include respond-to('xs') {
		right: $c;
		left: $c;
		&-smp { display: none; }
		&-xs {
			height: 110px;
			border-bottom: 1px solid;
		}
		&-logo {
			float: left;
			height: 100%;
		}
		&-menu-toggle {
			float: right;
			height: 100%;
			font-size: 30px;
			cursor: pointer;
		}
	}
	@include respond-to('sm-p') {
		right: 2*$c;
		left: 260px;
		&-xs { display: none; }
		&-smp {
			border-bottom: 5px solid;
			height: 35px;
			line-height: 35px;
		}
		&-left { float: left; }
		&-right { float: right; }
		&-social-icons { float: right; }
		&-link { font-weight: 700; }
	}
}