.search-panel {
	padding: 20px;
	background-color: $lighter-grey-l-10;

	&-wrapper {
		margin-bottom: 2*$c;
	}

	&-inner-wrapper { position: relative; }

	&-form {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($blue, 0.9);
		padding: 20px;
		z-index: 1;

		&.active { display: block; }

		&-footer {
			margin-top: 2*$c;
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 20px;
		}

		.feedback {
			color: $white;
			float: right;
			padding: 5px 0;
			text-align: right;
		}

		&-element-wrapper {
			@extend .clearfix;
			margin-bottom: 5px;
		}
		
		&-footer-btn {
			border: none;
		    background: #fff;
		    color: $blue;
		    cursor: pointer;
		    float: right;
		    transition: background-color $slow-transition;
		    &:first-of-type { margin-left: $c; }
			// &:last-of-type { float: left; }
		    &:hover {
				background-color: $white-d-10;
		    }
		}	

		.selectric-search-panel-form-select {
			.selectric {
				background: transparent;
			    border: none;
			    border-bottom: 1px solid #fff;
			}
			.label {
				color: #fff;
				margin: 0;
				height: 25px;
				line-height: 25px;
			}
			.selectric-items li {
			    padding: 5px 10px;
			}
			.button {
				height: 25px;
			    width: 25px;
			    line-height: 25px;
				background: transparent;
				bottom: 0;
				top: auto;
				&:before {
					content: '';
					position: absolute;
					top: 11px;
					left: 7px;
					border-top: 8px solid #fff;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
				}
				&:after {
					top: 11px;
					left: 9px;
					margin: 0;
					border-top: 6px solid rgba($blue, 0.9);
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
				}
			}
		}

		&-input {
			border: none;
			background-color: transparent;
			color: $white;
			border-bottom: 1px solid $light-blue-l-10;
			width: 100%;
			padding: 5px 0;
			resize: none;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $light-blue-l-10;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $light-blue-l-10;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $light-blue-l-10;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $light-blue-l-10;
			}

			&:focus {
				border-bottom: 1px solid $white;
				outline: none;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $white;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $white;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $white;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $white;
				}
			}
		}
	}

	&-title {
		margin: 0;
		margin-bottom: 10px;
		color: $blue;
	}

	&-subtitle,
	&-sub-subtitle {
		margin: 0;
		font-family: $body-ff;
	}

	&-subtitle {
		margin-bottom: 10px;
		color: $lighter-blue;
		font-weight: 600;
	}

	&-sub-subtitle {
		font-weight: 600;
	}

	&-footer {
		clear: both;
		padding-top: 20px;
    	text-align: right;
	}

	&-footer-btn {
		border: none;
	    color: #fff;
	    background: $blue;
	    cursor: pointer;
	    transition: background-color $slow-transition;
	    // &:first-child { float: left; }
	    &:last-child { margin-left: 15px; }
	    &:hover { background-color: $blue-l-10; }
	}
	
	&-image-wrapper { margin-bottom: $c; }

	@include respond-to('upto-md') {
		&-footer-btn,
		&-form-footer-btn {
	    	padding: 8px 10px;
		}

		&-wrapper {
			max-width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@include respond-to('lg') {
		&-footer-btn,
		&-form-footer-btn {
	    	padding: 8px 30px;
		}

		&-wrapper {
			width: 50%;
			float: left;
			&:nth-child(odd) {
				padding-right: $c;
				clear: left;
			}
			&:nth-child(even) {
				padding-left: $c;
				clear: right;
			}
			&.left-right-padding {
				padding-left: $c;
				padding-right: $c;
			}
		}

		.selectric-search-panel-form-select .label {
			height: 25px;
			line-height: 25px;
		}
	}
}

.search-panel-wrapper {

	&.hide { display: none; }

	&.sold {
		.search-panel { opacity: .5; }
		.sold-banner {
			color: $white;
			position: absolute;
		    right: 0;
		    z-index: 1;
		    transform: rotate(45deg) translate(31px, -7px);
		}
		.search-panel-footer-btn { display: none; }
	}

	&.without-image {
		.search-panel { padding-bottom: 70px; }
		
		.search-panel-text-wrapper { padding-left: 0; }
		.search-panel-footer {
			position: absolute;
	    	left: 20px;
	    	right: 20px;
	    	bottom: 20px;
		}
		.search-panel-text-wrapper { padding-left: 0; }
	
		.search-panel-form-element-wrapper {
			width: 50%;
			float: left;

			&:nth-child(odd) { padding-right: $c; }
			&:nth-child(even) { padding-left: $c; }

			&:last-of-type {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	@include respond-to('lg') {
		&.without-image {
			.search-panel { padding-bottom: 70px; }

			.search-panel-text-wrapper { padding-left: 0; }
			.search-panel-footer {
				position: absolute;
		    	right: 20px;
		    	bottom: 20px;
			}
		}
		
		&:not(.without-image) {
			.search-panel-text-wrapper { padding-left: 0.5*$c; }
			.search-panel-image-wrapper { padding-right: 0.5*$c; }
			
			.search-panel-image-wrapper,
			.search-panel-text-wrapper {
				float: left;
				width: 50%;
			}
		}
	}
}
