.selectric-component-select {
	.selectric {
		@extend .component-element-border;
		background-color: transparent;
		.label {
			color: $light-blue-l-10;
			margin-left: 0;
			height: 25px;
			line-height: 25px;
		}
		.button {
			background-color: transparent;
			height: 30px;
			width: 30px;
			line-height: 30px;
			&:before {
				content: '';
				position: absolute;
				top: 11px;
				left: 7px;
				border-top: 8px solid $light-blue-l-10;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
			}
			&:after {
				top: 11px;
				left: 9px;
				margin: 0;
				border-top: 6px solid $blue;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
			}
		}
	}

	.selectric-items { border: none; }
	.selectric-items li { padding: 5px 10px; }
	.selectric-items li.highlighted,
	.selectric-items li:hover {
		background-color: $grey;
		color: $white;
	}
}