.white {
	@include d('c') { color: $white; }
	@include d('bg') { background-color: $white; }
	@include d('bd') { border-color: $white; }
}
.light-blue {
	@include d('c') { color: $light-blue; }
	@include d('bg') { background-color: $light-blue; }
	@include d('bd') { border-color: $light-blue; }
}
.light-blue-l-10 {
	@include d('c') { color: $light-blue-l-10; }
	@include d('bg') { background-color: $light-blue-l-10; }
	@include d('bd') { border-color: $light-blue-l-10; }
}
.blue {
	@include d('c') { color: $blue; }
	@include d('bg') { background-color: $blue; }
	@include d('bd') { border-color: $blue; }
}
.lighter-grey {
	@include d('c') { color: $lighter-grey; }
	@include d('bg') { background-color: $lighter-grey; }
	@include d('bd') { border-color: $lighter-grey; }
}
.light-grey {
	@include d('c') { color: $light-grey; }
	@include d('bg') { background-color: $light-grey; }
	@include d('bd') { border-color: $light-grey; }
}
.grey {
	@include d('c') { color: $grey; }
	@include d('bg') { background-color: $grey; }
	@include d('bd') { border-color: $grey; }
}
.dark-grey {
	@include d('c') { color: $dark-grey; }
	@include d('bg') { background-color: $dark-grey; }
	@include d('bd') { border-color: $dark-grey; }
}
body {
	color: $dark-grey;
}
.social-icon {
	color: $grey;
	&.fa-facebook:hover { color: #3b5998; }
	&.fa-twitter:hover { color: #1da1f2; }
	&.fa-google-plus:hover { color: #e53935; }
	&.fa-pinterest:hover { color: #bd081c; }
	&.fa-youtube:hover { color: #cc181e; }
}
.top-header {
	&,
	&-icon { color: $light-grey; }
	&-link { color: $blue; }
	@include respond-to('xs') {
		&-xs { border-bottom-color: $lighter-grey; }
		&-menu-toggle { color: $blue; }
	}
	@include respond-to('sm-p') {
		&-sm-p { border-bottom-color: $lighter-grey; }
	}
}
.aside {
	@include respond-to('xs') {
		background-color: $blue;
		&-social-icons {
			.social-icon { color: $white; }
		}
	}
	@include respond-to('sm-p') {
		&-language-bar-smp {
			border-bottom-color: $blue;
			.aside-language-bar-link {
				color: $light-grey;
				&.selected,
				&:hover { color: $blue; }
			}
		}
	}
}
.main-menu {
	text-transform: uppercase;
	@include respond-to('xs') {
		&-language-link {
			border-bottom-color: $lighter-blue;
			color: $lighter-blue;
			&:hover,
			&.selected {
				color: $white;
			}
		}
		&-link,
		&-sublink {
			color: $white;
			border-bottom-color: $lighter-blue;
		}
		&-link:hover,
		&-link.selected {
			background-color: $white;
			color: $blue;
		}
		&-sublink:hover,
		&-sublink.selected {
			background-color: $lighter-blue;
		}
		&-item {
			&.selected {
				.main-menu-link {
					background-color: $white;
					color: $blue;
				}
			}
		}
	}
	@include respond-to('sm-p') {
		&-link,
		&-sublink {
			border-bottom-color: $lighter-grey;
			color: $dark-grey;
			&:hover,
			&.selected {
				color: $white;
			}
		}
		&-link:hover,
		&-link.selected {
			background-color: $blue;
		}
		&-sublink:hover,
		&-sublink.selected {
			background-color: $grey;
		}
		&-item {
			&.selected {
				.main-menu-link {
					background-color: $blue;
					color: $white;
				}
			}
		}
	}
}