.clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.img-responsive {
	display: inline-block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.fz {
	&-12 { font-size: 12px; }
	&-14 { font-size: 14px; }
	&-16 { font-size: 16px; }
	&-18 { font-size: 18px; }
	&-20 { font-size: 20px; }
	&-22 { font-size: 22px; }
	&-24 { font-size: 24px; }
	&-25 { font-size: 25px; }
}

.fw {
	&-600 { font-weight: 600; }
}

.lh {
	&-1 { line-height: 1; }
	&-1-5 { line-height: 1.5; }
	&-2 { line-height: 2; }
}

.m {
	@include d('5') { margin: $sm-c; }
	@include d('r5') { margin-right: $sm-c; }
	@include d('l5') { margin-left: $sm-c; }
	@include d('t5') { margin-top: $sm-c; }
	@include d('b5') { margin-bottom: $sm-c; }
	
	@include d('10') { margin: 2*$sm-c; }
	@include d('r10') { margin-right: 2*$sm-c; }
	@include d('l10') { margin-left: 2*$sm-c; }
	@include d('t10') { margin-top: 2*$sm-c; }
	@include d('b10') { margin-bottom: 2*$sm-c; }


	@include d('15') { margin: $c; }
	@include d('r15') { margin-right: $c; }
	@include d('l15') { margin-left: $c; }
	@include d('t15') { margin-top: $c; }
	@include d('b15') { margin-bottom: $c; }

	@include d('20') { margin: 4*$sm-c; }
	@include d('r20') { margin-right: 4*$sm-c; }
	@include d('l20') { margin-left: 4*$sm-c; }
	@include d('t20') { margin-top: 4*$sm-c; }
	@include d('b20') { margin-bottom: 4*$sm-c; }

	@include d('25') { margin: 5*$sm-c; }
	@include d('r25') { margin-right: 5*$sm-c; }
	@include d('l25') { margin-left: 5*$sm-c; }
	@include d('t25') { margin-top: 5*$sm-c; }
	@include d('b25') { margin-bottom: 5*$sm-c; }
}

.p {
	@include d('5') { padding: $sm-c; }
	@include d('r5') { padding-right: $sm-c; }
	@include d('l5') { padding-left: $sm-c; }
	@include d('t5') { padding-top: $sm-c; }
	@include d('b5') { padding-bottom: $sm-c; }

	@include d('b10') { padding-bottom: 2*$sm-c; }
	@include d('r10') { padding-right: 2*$sm-c; }
	@include d('l10') { padding-left: 2*$sm-c; }
	@include d('t10') { padding-top: 2*$sm-c; }
	@include d('b10') { padding-bottom: 2*$sm-c; }

	@include d('15') { padding: $c; }
	@include d('r15') { padding-right: $c; }
	@include d('l15') { padding-left: $c; }
	@include d('t15') { padding-top: $c; }
	@include d('b15') { padding-bottom: $c; }
}

.zero {
	@include d('m') { margin: 0; }
	@include d('mt') { margin-top: 0; }
	@include d('mb') { margin-bottom: 0; }
	@include d('ml') { margin-left: 0; }
	@include d('mr') { margin-right: 0; }

	@include d('p') { padding: 0; }
	@include d('pt') { padding-top: 0; }
	@include d('pb') { padding-bottom: 0; }
	@include d('pl') { padding-left: 0; }
	@include d('pr') { padding-right: 0; }
}

.hidden {
	@include d('xs') { @include respond-to('xs') { display: none; } }
	@include d('smp') { @include respond-to('sm-p') { display: none; } }
	@include d('uptomd') { @include respond-to('upto-md') { display: none; } }
}

.center-ib-content {
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

.text {
	&-right { text-align: right; }
	&-left { text-align: left; }
	&-center { text-align: center; }
}